// Requirements
// ============

@import "susy";
@import "breakpoint";

$susy: (
  container: 960px,
  columns: 12,
  gutters: .25
);

$bkpt: 560px;

@media print {
  body {
    margin:0 !important;
    padding:10px !important;
  }
  .name {
    font-size: 2.4em;
  }
  .hobbies, .extracurricular {
    display: none;
  }
  main {
    font-size: .9em;
  }
  section {
    padding-bottom:0;
  }
  h3, h4, h5 {
    margin-top: 0 !important;
  }
  .experience li {
    margin-bottom: 4px
  }
}

main {
  @include container(16);

  .content {
    width:100%;
    @include breakpoint($bkpt) {
      @include span(10 of 16 first);
      .photo, .contact, .skills, .languages, .hobbies {
        display: none;
      }
    }
    flex: 0 1 auto;
  }

  .sidebar {
    width:100%;
    @include breakpoint($bkpt) {
      @include span(6 of 16 last);
      display: block;
    }
    display: none;
    flex: 0 1 auto;
  }
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
