// Requirements
// ============

@import "susy";
@import "breakpoint";

$susy: (
  container: 960px,
  columns: 12,
  gutters: .25
);

$bkpt: 720px;

main {
  @include container(12);

  .content {
    //.bio, .experience, .education, .extracurricular  {
    @include breakpoint($bkpt) {
      @include span(8 of 12 first);
      .photo, .contact, .skills {
        display: none;
      }
    }
    flex: 0 1 auto;
  }

  .sidebar {
    @include breakpoint($bkpt) {
      @include span(4 of 12 last);
      display: block;
    }
    display: none;
    background-color: #d8d8d8;
    flex: 0 1 auto;
  }

  background-color: #f8f8f8;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

