// Requirements
// ============

@import "susy";
@import "breakpoint";

$susy: (
  container: 960px,
  columns: 12,
  gutters: .25
);

$bkpt: 720px;

@media print {
  html, body, .wrap {
    padding: 0 !important;
    margin: 0 !important;
  }
  main {
    box-shadow: none !important;
    background-color: #fff !important;
  }
  .sidebar {
    background-color: #fff !important;
  }
  .languages {
    margin-bottom: 40px;
  }
}

main {
  @include container(16);

  .content {
    //.bio, .experience, .education, .extracurricular, .hobbies  {
    width:100%;
    @include breakpoint($bkpt) {
      @include span(10 of 16 first);
      .photo, .contact, .skills, .languages, .hobbies {
        display: none;
      }
    }
    flex: 0 1 auto;
  }

  .sidebar {
    width:100%;
    @include breakpoint($bkpt) {
      @include span(6 of 16 last);
      display: block;
    }
    display: none;
    flex: 0 1 auto;
  }

  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

