// Screen
// ======

@import "normalize";
@import "grids";

body {
  font-family: Garamond, serif;
  background-color: #015b9f;
  padding: 16px;
}

a {
  color:#333;
  text-decoration: none;
  &:hover {
    color:#000;
  }
  &:visited,
  &:active {
    color:#666;
  }
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

h3 {
  margin:20px 0 10px 0;
  color: #000;
  font-size: 1.5em;
}
h4 {
  color: #015b9f;
  font-size: 1.2em;
}
h5 {
  color: #000;
  font-size: .8em;
}

main {
  color: #333;
  background-color: #fff;
}

.content,
.sidebar {
  padding:20px;
}
.content {
  a {

  }
}
.sidebar {
  color: #fff;
  background-color: #f8931d;
  h3 {
    color: #015b9f;
  }
}

section {
  padding-bottom:10px;
}

.invisible {
  visibility: hidden;
}

.photo {
  text-align: center;
  img {
    width:100%;
    border-radius: 50%;
    max-width: 240px;
    @include breakpoint($bkpt) {
      max-width: 180px;
    }
  }
}

.bio {
  text-align: center;
  @include breakpoint($bkpt) {
    text-align: left;
  }
  .name {
    font-size: 3em;
    margin:0;
    color:#f8931d;
  }
  .title {
    font-size: 1.33em;
    color:#019da6;
    margin: 0;
  }
}

.contact {
  li {
    line-height: 2em;
    font-size: 90%;
  }
  .fa {
    font-size:1.5em;
    width:28px;
    text-align: center;
    color: #eee;
  }
}

.contact--social-media {
  padding-top:10px;
  a {
    padding-left:10px;
  }
  .fa {
    font-size:2em;
    color:#000;
  }
}

.skills,
.languages,
.hobbies {
  li {
    width:100%;
    // background-color: rgba(1,157,166,0.33);
    color: #fff;
    margin: 4px 0;
  }
  span {
    display: block;
    padding: 4px 8px;
    box-sizing: border-box;
    background-color: #019da6;
  }
}

.drupal { width:100%; }
.php { width:90%; }
.git { width:85%; }
.html { width:80%; }
.css { width:75%; }
.js { width:70%; }
.mysql { width:65%; }

.es { width: 100% }
.en { width: 90% }
.pt { width: 50% }

.salsa { width: 100% }
.pk { width: 90% }
.tango { width: 80% }
.capoeira { width: 70% }

.experience {
  h4, h5, p {
    margin:0 0 8px;
  }
  li {
    margin-bottom:24px;
    p {
      line-height: 144%;
    }
  }
}

.extracurricular {
  li {
    margin-bottom:12px;
  }
}
