// Screen
// ======

@import "normalize";
@import "grids";

body {
  @include breakpoint($bkpt) {
    padding: 20px;
  }
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

main {
  background-color: #f8f8f8;
  box-shadow: 10px 10px 5px #888888;
}

.content,
.sidebar {
  padding:20px;
}

.sidebar {
  background-color: #DBECF7;
}

h3 { color: #0073cc; }
h4 { color: #45a3de; }
h5 { color: #555; }

section {
  padding-bottom:10px;
}

.invisible {
  visibility: hidden;
}

.photo {
  text-align: center;
  img {
    width:100%;
    border-radius: 50%;
    max-width: 240px;
    @include breakpoint($bkpt) {
      max-width: 180px;
    }
  }
}

.bio {
  font-family: "Consolas", "Menlo", "Courier", monospace;
  text-align: center;
  @include breakpoint($bkpt) {
    text-align: left;
  }
  .name {
    font-size: 2.4em;
    font-weight: normal;
    margin:0;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
}

.contact {
  li {
    line-height: 2em;
    font-size: 90%;
  }
  i.fa {
    font-size:1.5em;
    width:28px;
    text-align: center;
  }
}

.skills,
.languages,
.hobbies {
  li {
    background-color: #55b3ee;
    color: #fff;
    margin: 4px 0;
  }
  span {
    display: block;
    padding: 5px 10px;
    background-color: #0073cc;
  }
}

.drupal { width:90%; }
.php { width:84%; }
.js { width:82%; }
.html { width:87%; }
.css { width:78%; }
.git { width:74%; }
.ux { width:50%; }

.es { width: 90% }
.en { width: 88% }
.pt { width: 50% }

.pk { width: 64% }
.capoeira { width: 40% }
.salsa { width: 70% }
.tango { width: 50% }

.experience {
  h4, h5, p {
    margin:0 0 8px;
  }
  li {
    margin-bottom:24px;
    p {
      line-height: 144%;
    }
  }
}

.extracurricular {
  li {
    margin-bottom:12px;
  }
}
